#pageone , #islam , #dua, #kalma , #ayatUlKursi{

    background-image: url('../images/backgroundimage.png');
}



.Home{
    width: 115px;
    margin-top: 0px;
}


p.namaztext:first-letter {
    font-size: 200%;
}


.panelheading , .allheader{
    text-align: center;
}

.paneltext{
    margin-top: 30px;
    text-align: justify;
}


.allFooter{
    text-align: center;
    margin-bottom:0px;
    }

/*
a:hover {
    color: deeppink;
}
*/

/*
.home :active{
    color: green;
}

a.ui-btn :active{
    color: green;
}
*/



