
.Home{
    width: 115px;
    margin-top: 0px;
}


p.namaztext:first-letter {
    font-size: 200%;
}


.panelheading{
    text-align: center;
}

.paneltext{
    margin-top: 30px;
    text-align: justify;
}

/*
a:hover {
    color: deeppink;
}
*/

/*
.home :active{
    color: green;
}

a.ui-btn :active{
    color: green;
}
*/



