body{
    margin: 0px;
    padding: 0px;
}

div figure img{
    /*display: block;*/
    margin: 0 auto;
    text-align: center;
    height:450px;
    width: 700px;
}

figure{
    text-align: center;
}


#foot{
    background-color: #000000;
    color: #ffffff;
}

#head{
    background-color: #000000;
    color: #ffffff;
}

#foot1{
    background-color: #000000;
    color: #ffffff;
}

#head1{
    background-color: #000000;
    color: #ffffff;
}



.ui-content{
    background-color: grey;
    color: #ffffff;
}

.ui-content a{
    text-decoration: none;
}


div p a{
    text-align: right;
    color: #000000;

}

#second{
    height: 500px;
}